<html><head><script>
function fun(){
alert("calll");
var i = document.getElementsByName("a_comment_body").value; 
alert(document.getElementById("a_comment_body").value); 
//$(document).ready(fun);
}
</script>
</head>
<body>
<%= form_for @user, :name => 'honeyp' ,:html => { :honeypot => true, :onSubmit => "fun();"} do |f| %>
 
 <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>
  <div>
  <!--<%= show_simple_captcha(:object=>"simple_capcha_data") %> -->
  <%= show_simple_captcha(:object => 'user', :label => "type the code from the image",:distortion => "low") %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</body>
</html>
